<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:b="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/index.jsf" access="hasRole('ROLE_USER')" />
        <form-login login-page="/login.jsf" default-target-url="/index.jsf"
            authentication-failure-url="/login.jsf?erro=true" />
        <logout logout-success-url="/logout" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                users-by-username-query="SELECT username, password, enable FROM usuario WHERE username=?"
                authorities-by-username-query="SELECT u.username as username, a.nome as authority FROM usuario u, usuario_autorizacao ua, autorizacao a WHERE ua.usuario_id=u.id and a.id = ua.autorizacoes_id and u.username=?" />
        </authentication-provider>
    </authentication-manager>

    <b:bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <b:property name="url" value="jdbc:postgresql://localhost:5432/questions_bd" />
        <b:property name="driverClassName" value="org.postgresql.Driver" />
        <b:property name="username" value="questions" />
        <b:property name="password" value="12345" />
    </b:bean>

</b:beans>